#musicPlay_div {
    width: 27%;
    display:inline-block;
    vertical-align: center;
    overflow: hidden;
}

#musicOptions_div {
    width: 72%;
    display:inline-block;
    vertical-align: center;
    overflow: hidden;
}

p {
    font-weight: bold;
}

.listbox li, .detailed li, .selectable li {
    background: none;
}

.iconlist ul#musicPlay .file {
    background: none;
    border: 0px solid #CCC;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.iconlist ul#musicPlay li {
    background: none;
    max-width: 230px;
    max-height: 230px;
}

.iconlist ul#musicControl .file {
    background: none;
    border: 1px solid #CCC;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.iconlist ul#musicControl li {
    background: none;
    max-width: 300px;
    max-height: 300px;
}

.imgframe img {
    max-width: 245px;
    max-height: 245px;
}

legend#musicOptions_lgnd {
    color: #FFF;
    border: 0px;
}

fieldset.tabform {
    background: none;
    border-radius: 0px 0px 0px;
}

fieldset.iconlist {
    background: none;
    border-radius: 0px 0px 0px;
}

.toolbar {
    border-radius: 0px 0px 0px;
}
